{% extends "home.html" %}

{% block title %}
<title>Text me</title>
{% endblock %}

{% block content %}
<div>
    <h1>Text Me</h1>
    {% for convo in convos %}
    <p class="user__input">{{ convo.message }}</p>
    <p class="bot__response">{{ convo.response }}</p>
    {% endfor %}
    <form action="{% url 'textbot' %}" method="post">
        {% csrf_token %}
        <textarea class="user__input" name="userInput" id="convoMe" rows="3" cols="25" placeholder="Message" maxlength="300" required></textarea>
        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}
